 * {
     padding: 0;
     margin: 0;
 }

 a {
     color: inherit;
     text-decoration: none;
 }

 ul {
     list-style: none;
 }

 body {
     min-width: 1400px;
     font-family: 'Paperozi';
     font-size: 17px;
     line-height: 24px;
     color: rgb(70, 70, 70);
 }
 #wrap_wrap {
     min-width: 1400px;
     overflow: hidden;
 }


 @font-face {
     font-family: 'Paperozi';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
     font-weight: 100;
     font-display: swap;
 }

 @font-face {
     font-family: 'Paperozi';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
     font-weight: 200;
     font-display: swap;
 }

 @font-face {
     font-family: 'Paperozi';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
     font-weight: 300;
     font-display: swap;
 }

 @font-face {
     font-family: 'Paperozi';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
     font-weight: 400;
     font-display: swap;
 }

 @font-face {
     font-family: 'Paperozi';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
     font-weight: 500;
     font-display: swap;
 }

 @font-face {
     font-family: 'Paperozi';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
     font-weight: 600;
     font-display: swap;
 }

 @font-face {
     font-family: 'Paperozi';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
     font-weight: 700;
     font-display: swap;
 }

 @font-face {
     font-family: 'Paperozi';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
     font-weight: 800;
     font-display: swap;
 }

 @font-face {
     font-family: 'Paperozi';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
     font-weight: 900;
     font-display: swap;
 }


 @font-face {
     font-family: 'SchoolSafetyPoster';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimPosterB.woff2') format('woff2');
     font-weight: normal;
     font-display: swap;
 }

 /*-- 헤더 --*/
 #wrap {
     width:100%;
     margin: auto;
 }

 /* 헤더 */
 .header_wrap {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     width: 100%;
     height: 60px;
     background-color: rgba(255, 255, 255, 0.637);
     backdrop-filter: blur(5px);
     box-sizing: border-box;
     padding: 0 20px;
     gap: 20px;
     z-index: 9999; 
 }

 /* gnb */
 #gnb {
     width: 50%;
     height: 60px;
     margin: auto;
     text-transform: uppercase;
     text-align: center;
 }

 #gnb>li {
     float: left;
     width: 25%;
 }

 #gnb>li>a {
     display: block;
     font-size: 20px;
     padding: 20px 0 0;
 }

 #gnb>li>a:hover {
     color: #0f89f3;
 }

 .solid {
     width: 100%;
     margin: auto;
     margin-top: 10px;
     height: 5px;
     background: #0f89f3;
     visibility: hidden;
     opacity: 0;
     transform: scaleX(0);
     transition-property: opacity, transform;
     transition-duration: 0.5s;
 }

 #gnb>li>a:hover .solid {
     transform: scaleX(1);
     opacity: 1;
     visibility: visible;
 }


 #gnb {
     display: flex;
     font-size: 20px;
     text-align: center;
 }

 #gnb>li {
     position: relative;
 }

 #gnb>li>a {
     font-weight: 600;
     padding: 20px 1px;
     display: block;
 }

 .sub {
     font-size: 17px;
     position: absolute;
     top: 100%;
     z-index: 999;
     left: 50%;
     transform: translateX(-50%);
     width: 135px;
     display: none;
     z-index: 9999;
 }

 .sub_bg {
     position: fixed;
     top: 60px;
     left: 50%;
     transform: translateX(-50%);
     height: 200px;
     background-color: rgba(248, 248, 248, 0.436);
     backdrop-filter: blur(6px);
     width:100%;
     z-index: 10;
     display: none;
 }

 .sub li a {
font-weight: 500;
     color: rgb(65, 66, 66);
     padding: 10px 0px;
     display: block;
      transition: color 0.3s ease; 
  position: relative;
 }

 .sub li a:hover {
    font-weight: bold;
     color:  #0f89f3;
    
 }
.sub li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0px; 
  right: 0px; 
  height: 3px;
  background-color: #0f89f371;
  transform: scaleX(0); 
  transition: transform 0.3s ease;
}

.sub li a:hover::after {
  transform: scaleX(1); 
}

 .gnb_icon {
     display: flex;
     gap: 40px;
     margin:0 30px;
 }

 .gnb_icon {
     padding: 5px;
 }


 .gnb_icon li a {
     display: inline-block;
     position: relative;
     width: 8px;
     height: 8px;
 }


 .gnb_icon li a img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
     height: auto;
     transition: opacity 0.2s ease;

 }


 .gnb_icon li a .hover_img {
     opacity: 0;
 }

 .gnb_icon li a .normal_img {
     opacity: 1;
 }


 .gnb_icon li a:hover .hover_img {
     opacity: 1;
 }

 .gnb_icon li a:hover .normal_img {
     opacity: 0;
 }

 .gnb_icon li a {
     display: block;
     padding: 20px 15px 20px 5px;
 }


 .search_box {
     width: 11%;
     height: 36px;
     border: 1px solid #2d8adb;
     border-radius: 50px;

     background-color: #fff;
     display: flex;
     align-items: center;
     position: relative;
     overflow: hidden;
 }


 .search_box input {
     border: none;
     outline: none;
     width: 100%;
     height: 100%;
     padding-left: 15px;
     padding-right: 40px;
     font-size: 14px;
     background-color: transparent;
 }

 .search_box::after {
     content: '';
     position: absolute;
     right: 15px;
     top: 50%;
     transform: translateY(-50%);
     width: 16px;
     height: 16px;
     background: url('../imges/icon1.png') no-repeat center/contain;
     pointer-events: none;
 }


 /*-- 메인 --*/
 #main {
     width: 100%;
     height: 829px;
     position: relative;
     overflow: hidden;
 }

 .main_img img {
     margin-top: 60px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: 1;
 }

 .main_title {
     position: relative;
     z-index: 2;
 }

 .main_title {
     width: 1320px;
     margin: auto;
     padding-top: 300px;
 }

 .main_title h1 {
     color: #0f89f3;
     padding: 30px 0;
     font-size: 45px;
     line-height: 49px;

 }

 .main_title h2 {
     font-size: 30px;
     line-height: 30px;
     line-height: 35px;
 }

 .main_title p {
     font-weight: 300;
     font-size: 20px;
     line-height: 25px;
     margin-bottom: 60px;
     color: #fff;

 }

 /*-- 이벤트 --*/

 #event_wrap {
     width: 1320px;
     margin: 90px auto;
     box-sizing: border-box;
 }

 .event-title {
     text-align: center;
     margin-bottom: 60px;
 }

 .event-title h1 {
     font-size: 40px;
     font-weight: 800;
     color: #0f89f3;
 }

 
 .event-list {
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     width: 100%;
     height: 480px;
     perspective: 1200px;
 }

 .event-card {
     position: absolute;
     width: 360px;
     background-color: #fff;
     border-radius: 24px;
     border: 1px solid #f0f0f0;
     overflow: hidden;
     transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s ease, opacity 0.5s ease;
     cursor: pointer;
 }

 .event-img-box {
     width: 100%;
     aspect-ratio: 4 / 3;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     border-top-left-radius: 24px;
     border-top-right-radius: 24px;
     transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
 }

 .event-img-box img {
     transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
 }

 .event-card:hover .event-img-box img {
     transform: scale(1.1);
 }

 .event-img-box img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .img-bg-blue {
     background-color: #b9d1ff;
 }

 .img-bg-light {
     background-color: #e2f0ff;
 }

 .img-bg-yellow {
     background-color: #ffe699;
 }

 .event-info {
     padding: 30px 24px;
 }

 .event-info h3 {
     font-size: 18px;
     font-weight: 700;
     color: #0C59A9;
     margin: 0 0 12px 0;
 }

 .event-info .event-desc {
     font-size: 14px;
     color: #555;
     line-height: 1.5;
     margin: 0 0 20px 0;
 }

 .event-info .event-date {
     font-size: 13px;
     color: #999;
 }



 /* 가운데 카드  */
 .event-card.active {
     transform: translate3d(0, 0, 100px) rotateY(0deg) scale(1.05);
     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
     z-index: 10;
     opacity: 1;
 }

 /* 왼쪽 카드  */
 .event-card.prev {
     transform: translate3d(-340px, 0, 0) rotateY(25deg) scale(0.9);
     box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.04);
     z-index: 5;
     opacity: 0.75;
 }

 /* 오른쪽 카드 */
 .event-card.next {
     transform: translate3d(340px, 0, 0) rotateY(-25deg) scale(0.9);
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.04);
     z-index: 5;
     opacity: 0.75;
 }



 /*-- 큐앤에이 --*/
 #qa_wrap {
     width: 1320px;
     margin: auto;
 }

 #qa_wrap h1 {
     font-size: 40px;
     font-weight: 800;
     color: #0f89f3;
     text-align: center;
     margin-bottom: 40px;
     letter-spacing: -1px;
     position: sticky;
     top: 0;
     background-color: #fff;
     padding: 20px 0;
     z-index: 10;
 }

 .qa {
     display: flex;
     flex-direction: column;

 }

 .qa-item {
     border-bottom: 1px solid #dce9f5;
     transition: background-color 0.3s ease;
 }


 .qa-item.active {
     background-color: #e8f4ff;
     border-bottom: none;
 }

 .qa-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 24px 30px;
     cursor: pointer;
 }

 .qa-left {
     display: flex;
     align-items: center;
     gap: 24px;
 }

 .icon-q {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 34px;
     height: 34px;
     background-color: #2b6cb0;
     color: #fff;
     border-radius: 50%;
     font-weight: 600;
     font-size: 16px;
 }

 .question {
     font-size: 24px;
     color: #333;
     font-weight: 500;
     letter-spacing: -0.5px;
 }

 .category {
     font-size: 16px;
     color: #444;
     font-weight: 400;
 }

 .qa-body {
     display: grid;
     grid-template-rows: 0fr;
     transition: grid-template-rows 0.3s;
 }

 .qa-item.active .qa-body {
     grid-template-rows: 1fr;
 }

 .answer-content {
     overflow: hidden;
     padding: 0 30px 0 88px;
     transition: padding 0.3s ease;
 }

 .qa-item.active .answer-content {
     padding: 0 30px 30px 88px;
 }


 .answer-content p {
     margin: 0;
     font-size: 19px;
     line-height: 1.6;
     color: #444;
 }

 .answer-content .ans-text {
     margin-bottom: 16px;
 }

 .answer-content .notice-text {
     color: #666;
 }

/*-- 뉴스 --*/
 #news_wrap {
     background-color: #F0F5F9;
     margin: 100px auto;
     padding: 80px 20px;

 }

 .news_title {
     text-align: center;
     font-size: 40px;
     color: #0f89f3;
     margin-bottom:80px;
     font-weight: bold;
 }

 .news_container {
     display: flex;
     gap: 24px;
     justify-content: center;
 }

 .news_card {
     flex: 1;
     max-width: 360px;
     
     border-radius: 12px;
     overflow: hidden;
 }
.card_img{
 overflow: hidden; 
  border-radius: 12px;
}

 .card_img img {
     width: 100%;
   height: 200px;
     display: block;
     border-radius: 12px;
     transition: transform 0.3s ease-in-out; 
 }

 .card_content {
     padding: 20px 5px;
 }

 .card_title {
     font-size: 23px;
     font-weight: bold;
     color: #333;
     margin-bottom: 10px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .card_desc {
     font-size: 16px;
     color: #666;
     margin-bottom: 15px;
     line-height: 1.4;
 }

 .card_date {
     font-size: 16px;
     color: #999;
     display: block;
 }
.news_card a:hover img{
    transform: scale(1.1);
}

 /*-- 입점 --*/

 #join-wrap {
     width: 1320px;
     margin: 100px auto;
     padding: 0 20px;
     background-color: #F0F5F9;
     text-align: center;
     padding: 50px;
     border-radius: 20px;
     box-sizing: border-box;
 }
 .join-header {
     margin-bottom: 40px;
 }
 .join-title {
     font-size: 40px;
     font-weight: 700;
     color: #0f89f3;
     margin-top: 50px;
 }


 .join-process {
     margin-bottom: 70px;
 }

 .process-list {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     gap: 80px;
 }

 .process-item {
     position: relative;
     width: 200px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .process-item:not(:last-child)::after {
     content: '>';
     position: absolute;
     top: 50px;
     right: -70px;
     color: #ffffff;
     font-weight: 700;
     font-size: 24px;
     background-color: #309effaf;
     display: block;
     padding: 15px 19px;
     border-radius: 50%;
 }

 .process-icon-box {
     width: 170px;
     height: 170px;
     background-color: #ffffff;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 40px;
     box-shadow: 0 4px 15px rgba(30, 108, 219, 0.15);
 }

 .process-icon {
     width: 50px;
     height: 50px;
 }


 .process-num {
     font-size: 22px;
     font-weight: 700;
     color: #1e6cdb;
     margin-bottom: 20px;
 }

.process-subject {
     font-size: 20px;
     font-weight: 700;
     color: #222222;
     margin-bottom: 12px;
 }


 .process-desc {
     font-size: 15px;
     color: #666666;
     line-height: 1.5;
 }


 .join-btn-group {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 16px;
     margin-bottom: 8px;
 }

 .join-btn-group a {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 420px;
     height: 60px;
     font-size: 18px;
     border-radius: 20px;
     transition: all 0.2s ease;
 }


 .join-btn-group a span {
     font-size: 25px;
     font-weight: 800;
     vertical-align: middle;
     display: inline-block;
     margin-bottom: 7px;
     margin-left: 10px;
     margin-top: 3px;
     transition: transform 0.2s ease;/
 }

 .join-btn-group a:hover span {
     transform: translateX(10px);
 }



 /* 입점신청*/
 .btn-join-primary {
     padding: 2px;
     background-color: #0f89f3;
     color: #ffffff;
 }

 .btn-join-primary:hover {
     background-color: #064282;
     color: #fbfcfd;
       font-weight: bold;
 }

 /* 안내서 다운받기 */
 .btn-join-secondary {
     background-color: #ffffff;
     color: #095aa1;
     border: 3px solid #095aa1;
 }

 .btn-join-secondary:hover {
     background-color: #0C59A9;
     color: #fff;
     font-weight: bold;
 }

 /* 하단 문의 */
 .join-cs-bar {
     margin-top: 80px;
     background-color: #D5ECFF;
     border-radius: 16px;
     padding: 50px 80px;
     display: flex;

     align-items: center;
     text-align: left;
     position: relative;
 }

 /* 문의 타이틀 & 설명 */
 .cs-title {
     font-size: 30px;
     font-weight: 700;
     color: #2557ca;
     margin-bottom: 15px;
 }

 .cs-title img {
     height: 35px;
 }

 .cs-desc {
     font-size: 17px;
     color: #666666;
     line-height: 1.5;
 }

 .cs-contact-details {
     display: flex;
     flex-direction: column;
     gap: 40px;
     margin-top: 10px;
     margin-left: 50px;
 }

 .cs-phone {
     font-size: 24px;
     font-weight: 700;
     color: #222222;
 }

 .cs-email {
     font-size: 18px;
     font-weight: 700;
     color: #222222;
 }

 .cs-image-box {
     width: 250px;
     position: absolute;
     right: 100px;
     bottom: 0;
 }

 .cs-img {
     width: 100%;
     height: auto;
     display: block;
 }

 /*-- 푸터 --*/
 #site-footer {
     background-color: #0b2240;
     color: #ffffff;
     padding: 60px 0;
     width: 100%;
     box-sizing: border-box;
 }

 .footer-container {
     max-width: 1320px;
     margin: 0 auto;
     padding: 0 40px;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-wrap: wrap;

 }

 .footer-left {
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .footer-logo {
     font-size: 32px;
     font-weight: 900;
     letter-spacing: -1px;
     margin: 0;
 }


 .footer-menu {
     display: flex;
     gap: 20px;
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .footer-menu a {
     color: #ffffff;
     text-decoration: none;
     font-size: 15px;
     letter-spacing: -0.5px;
     transition: opacity 0.2s;
 }

 .footer-menu a:hover {
     opacity: 0.7;
 }


 .footer-info {
     font-size: 12px;
     color: #a0aec0;
     line-height: 1.8;
 }

 .footer-info span {
     margin-right: 12px;
 }


 .copyright {
     margin-top: 6px;
     font-size: 12px;
     color: #a0aec0;
 }


 .footer-right {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     gap: 40px;
     text-align: right;
 }


 .footer-sns {
     display: flex;
     gap: 16px;
 }

 .sns-btn {
     color: #ffffff;
     text-decoration: none;
     width: 36px;
     height: 36px;

     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     transition: all 0.2s ease;
 }

 .footer-sns img:hover {
     opacity: 0.7;
 }


 .cs-box {
     display: flex;
     flex-direction: column;
     gap: 6px;
 }

 .cs-label {
     font-size: 14px;
     color: #a0aec0;
 }

 .cs-number {
     font-size: 32px;
     font-weight: bold;
     margin: 0;
     letter-spacing: 0.5px;
 }

 .cs-hours {
     font-size: 13px;
     color: #a0aec0;
     line-height: 1.6;
     margin: 4px 0 0 0;
 }

 @media (max-width: 768px) {
     .footer-container {
         flex-direction: column;
         gap: 40px;
         padding: 0 20px;
     }

     .footer-right {
         align-items: flex-start;
         text-align: left;
         width: 100%;
     }

     .footer-menu {
         flex-wrap: wrap;
         gap: 12px 20px;
     }
 }
 /* 탑버튼 */
 .top_btn {
     position: fixed;
     bottom: 30px;
     right: 30px;
     z-index: 999;
     animation: slowBounce 2s infinite alternate ease-in-out;
 }

 .top_btn img {
     height: 70px;
     width: 100%;
 }

 .top_btn:hover {
     animation: fastBounce 0.3s infinite alternate ease-in-out;
 }

 @keyframes slowBounce {
     0% {
         transform: scale(1) translateY(0);
     }

     100% {
         transform: scale(1) translateY(-10px);
     }
 }

 @keyframes fastBounce {
     0% {
         transform: scale(1.1) translateY(0);
     }

     100% {
         transform: scale(1.1) translateY(-10px);
     }
 }

 /* 커서 */
#cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #eac54c;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    
    
    transform: translate(-50%, -50%); 
    
    transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
                height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
                background-color 0.3s ease, 
                border-color 0.3s ease,
                transform 0.3s ease; 
}

#cursor.hovered {
    width: 50px;
    height: 50px;
    background-color: rgba(202, 151, 69, 0.2);
    border-color:  #e9b816;
    box-shadow: 0 0 12px rgba(69, 140, 202, 0.5);
    transform: translate(-10%, -20%); 
}
